<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment 3</title>
</head>
<body style="display:flex;flex-direction:column;
             text-align:center;justify-content:center;
             align-items: center;">
</br>
    <div>
        <h1>A3 Search Engine</h1>
        <form action="/query" method="post">
            <label for="user_input">Enter Query:</label>
            <input type="text" id="user_input" name="user_input"> </input>
            <input type="submit" value="Submit"></input>
        </form>
        </br>

        {% if user_input %}
        <h2>You Entered: {{ user_input }}</h1>
        {% endif %}

        <h2>Your Results</h2>
        {% if results %}
        <div>
            <ol>
                {% for item in results %}
                <li> {{item}} </li>
                {% endfor %}
            </ol>
        </div>
        {% endif %}

        <h2>Processing Time</h2>
        {% if run_time %}
        <div>
            <p>{{ run_time }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>